---
# hello
---

    /*
        Style colors
    */

/*lineColors = [(216, 26, 54, 255),*/
/*(10, 47, 146, 255),*/
/*(25, 154, 91, 255),*/
/*(220, 113, 15, 255),*/
/*(105, 12, 115, 255)]*/

/*colorInfo = (27, 22, 151, 255)*/
/*white = (255, 255, 255)*/
/*black = (0, 0, 0)*/




:root {
    /*--mRed: #FF1F41;*/
    /*--mBlue: #0C39B1;*/
    /*--mGreen: #1EBA6E;*/
    /*--mOrange: #FF8912;*/
    /*--mPurple: #7F0F8B;*/

    --mRed: rgba(216, 26, 54, 255);
    --mBlue: rgba(10, 47, 146, 255);
    --mGreen: rgba(25, 154, 91, 255);
    --mOrange: rgba(220, 113, 15, 255);
    --mPurple: rgba(105, 12, 115, 255);
    --mInfo: #1B1697;

    --mRed: rgba(216, 26, 54, 255);
    --mBlue: rgba(10, 47, 146, 255);
    --mGreen: rgba(25, 154, 91, 255);
    --mOrange: rgba(220, 113, 15, 255);
    --mPurple: rgba(105, 12, 115, 255);
    --mInfo: #1B1697;


    --mBrown: #8D5B2D;
    --mYellow: #FFCC00;
    --mGrey: #999999;
    --mWhite: #FFFFFF;
    --mBlack: #000000;
    --mGreyBackground: rgba(164, 167, 171, 0.2);
    --pagePadding: 60px;
}

.bRed {
    background-color: var(--mRed) !important;
    color: white;
}

.bBlue {
    background-color: var(--mBlue) !important;
    color: white;
}

.bGreen {
    background-color: var(--mGreen) !important;
    color: white;
}

.bOrange {
    background-color: var(--mOrange) !important;
    color: white;
}

.bPurple {
    background-color: var(--mPurple) !important;
    color: white;
}

.bGreyBackground {
    background-color: var(--mGreyBackground) !important;
    color: black;
}

.bInfo {
    background-color: var(--mInfo) !important;
    color: white;
}

.bBrown {
    background-color: var(--mBrown) !important;
    color: white;
}

.bYellow {
    background-color: var(--mYellow) !important;
    color: white;
}

.bGrey {
    background-color: var(--mGrey) !important;
    color: white;
}

.bInfoGreen {
    background-color: #147D4A !important;
    color: white;
}

.button.bInfoGreen {
    border-radius: 0px 0px 0px 0px;
}



/*
    FONTS
 */

@font-face {
    font-family: "mHeading";
    src: url('../assets/fonts/CoreSansD67CnHeavy.woff2') format('woff2'),
    url('../assets/fonts/CoreSansD67CnHeavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "mHeading2";
    src: url('../assets/fonts/HelveticaNeueLTW1G-BdCn.woff2') format('woff2'),
    url('../assets/fonts/HelveticaNeueLTW1G-BdCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "mMain";
    src: url('../assets/fonts/FreeSet-Bold.woff2') format('woff2'),
    url('../assets/fonts/FreeSet-Bold.woff') format('woff');
    /*font-weight: bold;*/
    /*font-style: normal;*/
    /*font-display: swap;*/
}

@font-face {
    font-family: "mNumber";
    src: url('../assets/fonts/ArialGreek-Bold.woff2') format('woff2'),
    url('../assets/fonts/ArialGreek-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/*
DEFAULTS
 */

body, p {
    font-family: "mMain", sans-serif;
    margin: 0px;
}

h1,h2,h3,h4,h5,h6,li,#logo {
    font-family: "mHeading", sans-serif;
    text-transform: uppercase;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.number {
    font-family: "mNumber";
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    text-decoration: underline var(--mWhite);
}

ul {
    padding-inline-start: 0px;
}

.page-padding {
    padding-left: var(--pagePadding);
    padding-right: var(--pagePadding);
}