@import '_theme.css';
@import 'flex.css';

.card {
    @include flex;
    //display: inline-block;
    vertical-align: text-top;
    border: 4px double var(--mWhite);
    border-radius: 15px 15px 15px 15px;
    padding: 14px 4px 14px 4px;
    margin-bottom: 20px;
    //min-width: 300px;
    gap: 20px;
    //@include flex;
}

.card, .card > ul {
    //@include flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@counter-style mList {
    system: fixed;
    symbols: url("../icons/arrow_white.svg");
    suffix: " ";
}

.card, .card > .vertical {
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
    //list-style-image: url("icons/arrow_white.svg");
}

.card > .vertical {
    flex-direction: column;
}

.card > .vertical a {
    display: inline;
}

.card > .vertical > li:before {

    display: inline-block;
    content: ' ';
    background-image: url("../icons/arrow_white.svg");
    background-repeat: no-repeat;
    background-size: 22px 22px;
    height: 22px;
    width: 22px;
    margin-right: 10px;

    //width: 12px;
    //height: 12px;
    //content: url("icons/arrow_white.svg");

    //-webkit-mask-image: url("icons/arrow_white.svg");
    //mask-image: url("icons/arrow_white.svg");
}

.card .card-header {
    @extend .flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    vertical-align: center;
    margin-bottom: 8px;
}

.card h1, .card h2, .card h3, .card h4 {
    font-family: "mHeading2", sans-serif;
    text-transform: none;
    font-size: 20pt;
    font-style: normal;
    font-weight: bold;
    display: inline;
}


.blueButtons > ul >.button {
    background-color: var(--mInfo) !important;
}


.divider {
    width: 3px;
    height: 30px;
    padding: 0px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: var(--mWhite) !important;
}

.featured-links .icon {
    width: 20px;
    height: 20px;
}

.card.small {
    max-width: 30%;
}

.card.stretched {
    width: initial;
}