<header>
    <nav class="header">
        <h1 class="logo">Georgii Semenov</h1>
        <ul>
            <li><a href="">Главная</a></a></li>
            <li><a href="">Учеба</a></li>
            <li><a href="">Работа</a></li>
            <li><a href="">Наука</a></li>
            <li><a href="">Контакты</a></li>
        </ul>
    </nav>

    <!-- с тегом header-floating становится летучей карточкой -->
    <div class="page-header header-floating" id="page-header">
        <div class="container">
            <h1>UI Kit</h1>
            <p>Элементы, кнопки и статьи для наполнения этого сайта.</p>
        </div>
    </div>
</header>