---

page-menu: "Главная"

header-title: "Гоша? Это я!"
header-description: "Здесь могло бы быть славное описание для этой странички, но она выглядит и без того неплохо."

---
<!DOCTYPE html>
<html lang="ru">
  <head>
      {% include meta.html %}
      {% include styles.html %}
  </head>
  <body>

      {% include navigation.html %}
      {% include sidebar.html %}

      <main>

            <article class="">

                <section style="display: flex;">


                    <div class="image">
                        <img src="{{ "/assets/images/sample1.jpg" | absolute_url }}" alt="Left Image">
                        <div class="image-title">
                            <!--                    <span>Великий Новгород, <span class="number">2020</span> г.</span>-->
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</span>
                            <a class="button bRed" href="#">
                                <div class="fa fa-arrow-right"></div>
                            </a>
                        </div>
                    </div>

                    <div>
                        <h2>Heading</h2>
                        <p>
                            Lorem ipsum dolor sit <i>amet</i>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>

                </section>

                    <div class="break spaced"></div>

                <style>

                    .testy {
                        gap: 15px;
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                    .testy > .image {
                        margin: 0px;
                    }
                </style>

                <section style="">
                    <div class="testy" style="display: flex;">
                        <div class="image">
                            <img src="{{ "/assets/images/sample1.jpg" | absolute_url }}" alt="Left Image">
                            <div class="image-title">
                                <!--                    <span>Великий Новгород, <span class="number">2020</span> г.</span>-->
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</span>
                                <a class="button bRed" href="#">
                                    <div class="fa fa-arrow-right"></div>
                                </a>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{{ "/assets/images/sample1.jpg" | absolute_url }}" alt="Left Image">
                            <div class="image-title">
                                <!--                    <span>Великий Новгород, <span class="number">2020</span> г.</span>-->
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</span>
                                <a class="button bRed" href="#">
                                    <div class="fa fa-arrow-right"></div>
                                </a>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{{ "/assets/images/sample1.jpg" | absolute_url }}" alt="Left Image">
                            <div class="image-title">
                                <!--                    <span>Великий Новгород, <span class="number">2020</span> г.</span>-->
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</span>
                                <a class="button bRed" href="#">
                                    <div class="fa fa-arrow-right"></div>
                                </a>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{{ "/assets/images/sample1.jpg" | absolute_url }}" alt="Left Image">
                            <div class="image-title">
                                <!--                    <span>Великий Новгород, <span class="number">2020</span> г.</span>-->
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</span>
                                <a class="button bRed" href="#">
                                    <div class="fa fa-arrow-right"></div>
                                </a>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{{ "/assets/images/sample1.jpg" | absolute_url }}" alt="Left Image">
                            <div class="image-title">
                                <!--                    <span>Великий Новгород, <span class="number">2020</span> г.</span>-->
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</span>
                                <a class="button bRed" href="#">
                                    <div class="fa fa-arrow-right"></div>
                                </a>
                            </div>
                        </div>
                        <div class="image">
                            <img src="{{ "/assets/images/sample1.jpg" | absolute_url }}" alt="Left Image">
                            <div class="image-title">
                                <!--                    <span>Великий Новгород, <span class="number">2020</span> г.</span>-->
                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</span>
                                <a class="button bRed" href="#">
                                    <div class="fa fa-arrow-right"></div>
                                </a>
                            </div>
                        </div>
                    </div>

                </section>

                <section>

                    <div class="break spaced"></div>




                    <div class="image right">
                        <img src="{{ "/assets/images/sample2.jpg" | absolute_url }}" alt="Right Image">
                        <!--                <p>Таллин, <span class="number">2018</span> г.</p>-->
                        <div class="image-title">
                            <a class="button bRed" href="#">
                                <div class="fa fa-arrow-left"></div>
                            </a>
                            <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</span>
                        </div>
                    </div>

                    <h4>Heading</h4>

                    <p>
                        Lorem ipsum dolor sit <i>amet</i>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                </section>


                <div class="card bInfo">
                    <h4>Настройки дизайна страницы</h4>
                    <ul>
                        <li class="button bRed"><a onclick="switchHeader();">Шапка сайта</a></li>
                        <li class="button bBlue"><a onclick="switchSocialButtonsColor();">Цвет кнопок социальных сетей</a></li>
<!--                        <li class="divider"></li>-->
<!--                        <li class="button bGreen"><a href="#"><div class="icon i-github"></div></a></li>-->
<!--                        <li class="button bOrange"><a href="#"><div class="icon i-vk"></div></a></li>-->
<!--                        <li class="button bPurple"><a href="#"><div class="icon i-twitter"></div></a></li>-->
                    </ul>
                </div>

                <section></section>
                <article>Lorem ipsum dolor sit <i>amet</i>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</article>
                <header></header>
                <h2>Hi!</h2>
                <p>Lorem ipsum dolor sit amet, <strong>consectetur</strong> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <p>
                    E<sub>0</sub> = mc<sup>2</sup>
                </p>

                <div class="button button-red">
                    <div class="icon i-telegram"></div>
                </div>



            </section>


        </main>

        <header>
        <div class="page-header" id="page-header">
            <div class="container">
                <h1>Гоша? Это я!</h1>
                <p>Здесь могло бы быть славное описание для этой странички, но она выглядит и без того неплохо. <a style="text-decoration: underline;" onclick="switchHeader();">Впрочем...</a></p>
            </div>
        </div>
        </header>

      {% include footer.html %}

  </body>

  {% include scripts.html %}

</html>
