footer {
    width: 100%;
    color: var(--mWhite);
    clear: both;
    position: relative;
    //height: 200px;
    //margin-top: -200px;
}

.footer {
    height: 30px;
    background-color: var(--mInfo);
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 18px;
}