/*
    HEADERS AND MENUS
*/

@import 'util.scss';
@import 'containers.scss';

/*
    MENU
*/

header {
    display: block;
    width: 100%;
    position: relative;
    color: var(--mWhite);
}

.header {

    display: block;
    position: relative;
    color: var(--mWhite);

    background-color: var(--mInfo);
    color: var(--mWhite);
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 18px;
    @extend .flex;
}

.header > .logo {
    color: var(--mWhite);
    font-size: 26pt;
    padding-left: 8px;
    padding-right: 8px;
}

.header.centered > ul {
    justify-content: center !important;
}

.header.left {
    justify-content: flex-start !important;
}

.header.right {
    justify-content: flex-end !important;
}

.header.justified {
    justify-content: space-evenly !important;
}


.header li {
    position: relative;
}

.header .dropdown {
    list-style: none;
    z-index: 1;
    background-color: var(--mInfo);
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
}

.header ul li:hover > ul, .header ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

.header .dropdown li {
    clear: both;
    width: 100%;
    padding: 10px;
}



/*
    PAGE HEADERS
 */

.page-header {
    overflow: hidden;
    max-width: 100%;
    background-color: var(--mInfo);
    color: var(--mWhite);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 20px;
}

.header-floating {
    background: linear-gradient(0deg, var(--mWhite) 50%, var(--mInfo) 50%);
}

.header-floating > .container {
    background-color: var(--mWhite);
    color: var(--mInfo);
    border-radius: 30px 30px 30px 30px;
}

.header-floating > .container p {
    color: var(--mBlack);
}
