<ul class="breadcrumb">
    {% assign crumbs = page.url | relative_url | remove:'/index.html' | split: '/' %}
    <li><a href="{{ "/" | absolute_url }}">Главная</a></li>
    {% for crumb in crumbs offset: 1 %}
    {% if page.page-menu == 'UNSET' %}
    <li><a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a></li>
    {% else %}
    <li><a href="{% assign crumb_limit = forloop.index %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '' | replace:'without-plugin/','without-plugins/' }}{% endfor %}">{{ page.page-menu }}</a></li>
    {% endif %}
    {% endfor %}
</ul>