<!-- Navigation -->
<header>
    <nav class="header" id="menu">
        <h1 class="logo">Georgii Semenov</h1>
        <ul>
            <li {% if page.url == "/" %} class="active" {% endif %}>
                <a href="{{ "/" | absolute_url }}">Главная</a>
            </li>
            <li {% if page.url == "/study/" %} class="active" {% endif %}>
                <a href="{{ "/study" | absolute_url }}">Учеба</a>
            </li>
            <li {% if page.url == "/work" %} class="active" {% endif %}>
                <a href="">Работа</a>
            </li>
            <li {% if page.url == "/research" %} class="active" {% endif %}>
                <a href="">Наука</a>
            </li>
            <li {% if page.url == "/contact" %} class="active" {% endif %}>
                <a href="">Контакты</a>
            </li>
            <ul>
                <li class="button bInfoGreen"><a href="{{ "/kit.html" | absolute_url }}">UI Kit</a></li>
            </ul>
            <ul>
                <li class="button bPurple"><a href="{{ "/form.html" | absolute_url }}">Форма</a></li>
            </ul>
        </ul>
    </nav>

    <!-- с тегом header-floating становится летучей карточкой -->
    <div class="page-header header-floating" id="page-header">
        <div class="container">
<!--            <ul class="breadcrumb">-->
<!--                <li><a href="">Главная</a></li>-->
<!--                <li><a href="">Учеба</a></li>-->
<!--            </ul>-->

            {% include breadcrumb.html %}

            <h1>{{ page.header-title }}</h1>
            <p>{{ page.header-description }}</p>
        </div>
    </div>
</header>