
.icon-m {
    width: 30px;
    height: 30px;
}

.icon {
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    background-color: white;
    @extend .icon-m;
}

.i-telegram {
    -webkit-mask-image: url("../assets/icons/telegram-plane-brands.svg");
    mask-image: url("../assets/icons/telegram-plane-brands.svg");
}

.i-email {
    -webkit-mask-image: url("../assets/icons/envelope-regular.svg");
    mask-image: url("../assets/icons/envelope-regular.svg");
}

.i-github {
    -webkit-mask-image: url("../assets/icons/github-brands.svg");
    mask-image: url("../assets/icons/github-brands.svg");
}

.i-vk {
    -webkit-mask-image: url("../assets/icons/vk-brands.svg");
    mask-image: url("../assets/icons/vk-brands.svg");
}

.i-twitter {
    -webkit-mask-image: url("../assets/icons/twitter-brands.svg");
    mask-image: url("../assets/icons/twitter-brands.svg");
}

.i-info {
    -webkit-mask-image: url("../assets/icons/info-solid.svg");
    mask-image: url("../assets/icons/info-solid.svg");
}

//.i-arrow-right {
//    display: inline-block;
//    background-image: url("../icons/arrow_white.svg");
//    background-repeat: no-repeat;
//    background-size: 22px 22px;
//    height: 22px;
//    width: 22px;
//    transform: rotate(180deg);
//    filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
//}