---
# lol
---

@import 'main.scss';

.app-todo {
  @extend .card;
  //max-width: 600px;
  width: 100%;
  //min-width: 300px;
  background-color: rgb(88, 156, 234);
  //resize: both;
  //overflow: auto;
  //display: block;
}

.app-todo .input-box, .app-todo .input-box form {
  display: flex;
  width: -webkit-fill-available;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 5px;
}

.app-todo .input-box .button {
  font-size: 16pt;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-width: 1px;
}

.app-todo .input-box .input-box__input {
  border: 1px solid var(--mWhite);
  border-radius: 4px 4px 4px 4px;

  background-color: var(--mInfo);
  color: white;
  padding: 3px 10px 3px 10px;
  margin: 5px 0px 5px 0px;
  font-size: 16pt;
  font-family: "mMain";
  width: inherit;
}

.app-todo .input-box .input-box__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(88, 156, 234, 150);
  font-size: 12pt;
  font-style: italic;
}

.app-todo .list{
  display:flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-end;
  align-items: stretch;
}
.app-todo .list:empty:before {
  content: 'Список задач пуст.';
  color: white;
  font-size: 10pt;
}
.app-todo .list .list__item {
  border: 1px solid var(--mWhite);
  border-radius: 4px 4px 4px 4px;

  background-color: var(--mGreen);
  color: white;
  padding: 3px 10px 3px 10px;
  margin: 5px 0px 5px 0px;
  font-size: 12pt;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  line-height: inherit;
  align-items: center;
  gap: 5px;
}

.app-todo .list .list__item * {
  line-height: inherit;

  display: flex;
  justify-content: space-around;
  align-content: space-around;

  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;

}
